.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8rem;
  max-width: 1200px;
  h1{
    background: #454545;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.product {
  flex: 0 1 300px;
  background: white;
  border: 1px solid rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;
  margin: 20px;

  a:hover{
    filter: brightness(92%);
  }
}

.product-img {
  background-color: white;
  padding: 10%;
  display: flex;
  justify-content: center;

  img {
    height: 20vh;
  }
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3,
  h4,
  p {
    margin: 0.4rem 0;
  }
}

.product-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.addToCartBtn {
  border: 1px solid black;
  color: white;
  background-color: rgb(57, 159, 73);
  padding: 0.7rem;
  min-width: 100%;
  font-size: 1.2rem;
}

.addToCartBtn:hover{
  cursor: pointer;
  text-decoration: underline;
  filter: brightness(120%);
}

//productDetails
.product-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(255, 255, 255);
  // gap: 3rem;
  margin: 5% 0 15% 0;
  h1{
    background: #454545;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
  .details-link-container{
    width: 100%;
    .details-link{
      position: absolute;
      display: flex;
      align-items:end;
      padding-top: 1rem;
      padding-left: 1rem;
      color: black;
      svg{
        background-color: #454545;
        border-radius: 100%;
        padding: 2px;
        color: white;
      }
    }
  }
  .product-details-2{
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .product-details-text, .product-details-img {
      flex: 0 1 300px;
      position: relative;
      overflow: hidden;
      margin: 25px;
      align-items: center;
      img{
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .product-details-text{

      h3,h4,p,button{
        padding: 0.5rem 0;
      }
      h4 span{
        font-size: small;
      }
    }
    .product-details-img{
      display: flex;
      justify-content: center;
    }
  }
}